.conutries-container{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 12px;
 padding: 10px;
}
.conutries-container img{
width: 85%;
height: 200px;
border-radius: 15px;

transition: transform 0.3s ease ;
}
.conutries-container img:hover{
}
.countyName{

text-align: left;
padding: -20px;

}
 